# Defaults for source settings are set in constants
# in conf/defaults.py.
irrd:
    database_url: null
    server:
        http:
            interface: '::0'
            port: 80
        whois:
            interface: '::0'
            port: 43
            max_connections: 50
    auth:
        gnupg_keyring: null
    email:
        footer: ''
        notification_header: |
            This is to notify you of changes in the {sources_str} database
            or object authorisation failures.

            You may receive this message because you are listed in
            the notify attribute on the changed object(s), or because
            you are listed in the mnt-nfy or upd-to attribute on a maintainer
            of the object(s).
        from: null
        smtp: null
