# Many of these packages are also specified in setup.py, and versions
# should be kept in sync. The list in setup.py is shorter, as it only
# includes packages needed for deployment.

python-gnupg==0.4.3    # Integration with gpg for key-cert objects
passlib==1.7.1         # Password hashing for CRYPT-PW and MD5-PW
IPy==0.83              # IP address parsing
dataclasses==0.6       # PEP 557 dataclasses for python<3.7
orderedset==2.0.1      # Ordered sets for simple unique ordered storage
dotted==0.1.8          # Dotted path dictionary resolving for settings
beautifultable==0.6.0  # generating nice-looking ascii tables
PyYAML==3.13           # parsing YAML config files

# Database connections and management
psycopg2-binary==2.7.6.1
SQLAlchemy==1.2.16
alembic==1.0.6

# Network handling
twisted==18.9.0

# Testing and related packages
pytest==4.1.0
pytest-cov==2.6.1
coverage==4.5.2
coveralls==1.5.1

# Documentation generation
Sphinx==1.8.3

# Code style and type checks
mypy==0.650
flake8==3.6.0
pep8-naming==0.7.0

# Creating python packages
setuptools==40.6.3
wheel==0.32.3
twine==1.12.1
