# Many of these packages are also specified in setup.py, and versions
# should be kept in sync. The list in setup.py is shorter, as it only
# includes packages needed for deployment.

python-gnupg==0.4.6    # Integration with gpg for key-cert objects
passlib==1.7.2         # Password hashing for CRYPT-PW and MD5-PW
IPy==1.00              # IP address parsing
dataclasses==0.7; python_version < '3.7'       # PEP 557 dataclasses for python<3.7
ordered-set==4.0.2     # Ordered sets for simple unique ordered storage
dotted==0.1.8          # Dotted path dictionary resolving for settings
beautifultable==0.8.0  # generating nice-looking ascii tables
PyYAML==5.3.1          # parsing YAML config files
datrie==0.8.2            # efficient route searching, used for RPKI
setproctitle==1.1.10   # updating the process title for useful ps output
python-daemon==2.2.4   # daemonising the main process
pid==3.0.3             # managing PID files
redis==3.5.3          # preloaded data storage & sync through redis
hiredis==1.0.1         # improved redis response parsing performance
requests==2.24.0       # HTTP request handling

# Database connections and management
psycopg2-binary==2.8.5
SQLAlchemy==1.3.17
alembic==1.4.2
ujson==3.0.0

# Testing and related packages
pytest==5.4.3
pytest-cov==2.10.0
coverage==5.1
coveralls==2.0.0
twisted==20.3.0    # Used for a mock email server in integration tests

# Documentation generation
Sphinx==3.1.1
sphinxcontrib-spelling==5.1.1

# Code style and type checks
mypy==0.780
flake8==3.8.3
pep8-naming==0.10.0

# Creating python packages
setuptools==47.2.0
wheel==0.34.2
twine==3.1.1
