# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
        environment:
          IRRD_DATABASE_URL: 'postgresql://root@localhost/circle_test2'

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/postgres:9.6
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run: sudo apt-get install postgresql-client-9.6

      - run:
          name: Waiting for PostgreSQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for PostgreSQL && exit 1

      - run: |
          psql -U root -h localhost -c "CREATE DATABASE circle_test2;"

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            py.test --cov=irrd irrd --junitxml=test-reports/junit.xml --cov-fail-under=100

      - run:
          name: build docs
          command: |
            . venv/bin/activate
            sphinx-build -nW -b html docs/ test-reports/docs-html

      - run:
          name: run flake8
          command: |
            . venv/bin/activate
            flake8 irrd

      - run:
          name: run mypy
          command: |
            . venv/bin/activate
            mypy irrd --ignore-missing-imports

      - run:
          name: report coverage
          # Coveralls token is set in CircleCI config.
          command: |
            . venv/bin/activate
            coveralls

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports
