# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

parameters:
  build_extensive:
    type: boolean
    default: false

workflows:
  test-regular:
    # This workflow is about 400 credits
    when:
        not: << pipeline.parameters.build_extensive >>
    jobs:
      - unit_tests_cpython:
          name: unit-tests-cpython<< matrix.python_version >>-pg<< matrix.postgres_version >>-redis<< matrix.redis_version >>
          matrix:
            parameters:
              python_version: ["3.10", "3.14"]
              postgres_version: ["15.0"]
              redis_version: ["5.0"]
      - integration_tests_cpython:
          name: integration-tests-cpython<< matrix.python_version >>-pg<< matrix.postgres_version >>-redis<< matrix.redis_version >>
          matrix:
            parameters:
              python_version: ["3.10", "3.14"]
              postgres_version: ["15.0"]
              redis_version: ["5.0"]
      - lint:
          name: lint-cpython-3-10
          docker_image: cimg/python:3.10
      - build_docs:
          name: build-docs-cpython-3-10
          docker_image: cimg/python:3.10

  test-extensive:
    # This workflow is about 10K credits
    when: << pipeline.parameters.build_extensive >>
    jobs:
      - unit_tests_cpython:
          name: unit-tests-cpython<< matrix.python_version >>-pg<< matrix.postgres_version >>-redis<< matrix.redis_version >>
          matrix:
            parameters:
              python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
              postgres_version: ["9.6", "11.16", "13.7", "15.0", "18.0"]
              redis_version: ["5.0", "6.2", "7.0", "8.4"]
      - integration_tests_cpython:
          name: integration-tests-cpython<< matrix.python_version >>-pg<< matrix.postgres_version >>-redis<< matrix.redis_version >>
          matrix:
            parameters:
              python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
              postgres_version: ["9.6", "11.16", "13.7", "15.0", "18.0"]
              redis_version: ["5.0", "6.2", "7.0"]
      - lint:
          name: lint-cpython-3-10
          docker_image: cimg/python:3.10
      - build_docs:
          name: build-docs-cpython-3-10
          docker_image: cimg/python:3.10

commands:
  install_dependencies:
    steps:
      - run:
          name: apt update
          command: |
            set +e
            $SUDO apt update
            echo

      - run:
          name: Installing psql client, enchant, netcat, rust
          command: $SUDO apt -y install postgresql-client netcat-traditional python3-enchant rustc

      - run:
          name: Installing poetry if needed
          command: which poetry || curl -sSL https://install.python-poetry.org | POETRY_HOME=/usr python3 -

      - restore_cache:
          keys:
            - v4-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum
              "poetry.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v4-dependencies-{{ .Environment.CIRCLE_JOB }}

      - run:
          name: install python dependencies
          working_directory: irrd
          environment:
            POETRY_VIRTUALENVS_IN_PROJECT: true
          command: poetry -n --no-ansi --no-root --with=dev,docs install

      - save_cache:
          paths:
            - /mnt/ramdisk/.venv
          key: v4-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum
            "poetry.lock" }}

  wait_for_postgres:
    steps:
      - run:
          name: Waiting for PostgreSQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for PostgreSQL && exit 1

  run_unit_tests:
    steps:
      - run:
          name: run regular tests
          command: poetry -n --no-ansi run py.test -s -vvvv --cov=irrd irrd --junitxml=test-reports/junit.xml --cov-fail-under=100 --cov-report term-missing:skip-covered

  create_integration_test_db:
    steps:
      - run:
          name: Creating additional database 1
          command: |
            psql -U root -h localhost -d circle_test -c "CREATE DATABASE circle_test_integration_1;"

      - run:
          name: Creating additional database 2
          command: |
            psql -U root -h localhost -d circle_test -c "CREATE DATABASE circle_test_integration_2;"

      - run:
          name: Creating additional database 3
          command: |
            psql -U root -h localhost -d circle_test -c "CREATE DATABASE circle_test_integration_3;"

  run_integration_tests:
    steps:
      - run:
          name: run integration tests
          command: poetry -n --no-ansi run py.test irrd/integration_tests/run.py -s

  store_results:
    steps:
      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: /tmp/pytest-of-circleci/


jobs:
  unit_tests_cpython:
    parameters:
      python_version:
        type: string
      postgres_version:
        type: string
      redis_version:
        type: string

    resource_class: small
    working_directory: /mnt/ramdisk
    docker:
      - image: cimg/python:<< parameters.python_version >>
        environment:
          IRRD_DATABASE_URL: 'postgresql://root@localhost/circle_test'
          IRRD_REDIS_URL: 'redis://localhost'
          PYTHON_INTERPRETER: python3
          SUDO: sudo

      - image: cimg/postgres:<< parameters.postgres_version >>
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
          POSTGRES_HOST_AUTH_METHOD: trust
        command: postgres -c track_commit_timestamp=true

      - image: cimg/redis:<< parameters.redis_version >>
#      - image: cimg/rust:1.65

    steps:
      - checkout
      - install_dependencies
      - wait_for_postgres
      - run_unit_tests
      - store_results


  integration_tests_cpython:
    parameters:
      python_version:
        type: string
      postgres_version:
        type: string
      redis_version:
        type: string

    resource_class: large
    working_directory: /mnt/ramdisk
    docker:
      - image: cimg/python:<< parameters.python_version >>
        environment:
          IRRD_DATABASE_URL_INTEGRATION_1: 'postgresql://root@localhost/circle_test_integration_1'
          IRRD_DATABASE_URL_INTEGRATION_2: 'postgresql://root@localhost/circle_test_integration_2'
          IRRD_DATABASE_URL_INTEGRATION_3: 'postgresql://root@localhost/circle_test_integration_3'
          IRRD_REDIS_URL_INTEGRATION_1: 'redis://localhost/4'
          IRRD_REDIS_URL_INTEGRATION_2: 'redis://localhost/5'
          IRRD_REDIS_URL_INTEGRATION_3: 'redis://localhost/6'
          PYTHON_INTERPRETER: python3
          SUDO: sudo

      - image: cimg/postgres:<< parameters.postgres_version >>
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test
          POSTGRES_HOST_AUTH_METHOD: trust
        command: postgres -c track_commit_timestamp=true

      - image: cimg/redis:<< parameters.redis_version >>
#      - image: cimg/rust:1.65

    steps:
      - checkout
      - install_dependencies
      - wait_for_postgres
      - create_integration_test_db
      - run_integration_tests
      - store_results


  lint:
    parameters:
      docker_image:
        type: string

    resource_class: small
    working_directory: /mnt/ramdisk
    docker:
      - image: << parameters.docker_image >>
        environment:
          PYTHON_INTERPRETER: python3
          SUDO: sudo
#      - image: cimg/rust:1.65

    steps:
      - checkout
      - install_dependencies

      - run:
          name: run ruff
          command: poetry -n --no-ansi run ruff check irrd

      - run:
          name: run isort
          command: poetry -n --no-ansi run isort --check --diff irrd

      - run:
          name: run mypy
          command: poetry -n --no-ansi run mypy irrd

      - run:
          name: run black
          command: poetry -n --no-ansi run black --check irrd


  build_docs:
    parameters:
      docker_image:
        type: string

    resource_class: small
    working_directory: /mnt/ramdisk
    docker:
      - image: << parameters.docker_image >>
        environment:
          PYTHON_INTERPRETER: python3
          SUDO: sudo
          SPHINX_IMMATERIAL_EXTERNAL_RESOURCE_CACHE_DIR: sphinx_immaterial_cache
#      - image: cimg/rust:1.65

    steps:
      - checkout
      - install_dependencies

      - restore_cache:
          keys: v1-docs-cache

      # Sphinx_immaterial does parallel downloads that don't work
      # well on CircleCI. There is no setting, so we just edit
      # the max number of workers. Bit gross, but this isn't our
      # production doc build anyways, that happens on RTD without hacks.
      - run:
          name: hack sphinx_immaterial
          command: |
            sed -i 's/max_workers=33/max_workers=2/' /mnt/ramdisk/.venv/lib/py*/site-packages/sphinx_immaterial/google_fonts.py

      - run:
          name: build docs
          command: poetry -n --no-ansi run sphinx-build -nW -b spelling docs/ docs/build

      - save_cache:
          paths:
            - ./sphinx_immaterial_cache
          key: v1-docs-cache

