{% extends "base.html" %}
{% block content %}
    {% if api_token %}
        <h2>Update API '{{ api_token.name }}' token on {{ mntner.rpsl_mntner_pk }}</h2>
    {% else %}
        <h2>Add an API token on {{ mntner.rpsl_mntner_pk }}</h2>
    {% endif %}
    <div class="row">
        <div class="col-lg-9">
            {{ form_html }}
        </div>
        <div class="col-lg-3 alert alert-info">
            API keys are a method to provide access to a maintainer
            for automated processes or scripts. You can restrict them
            to certain submission methods. After creation, IRRD
            will create a random secret to use for authentication.
        </div>
    </div>
{% endblock %}
