{% extends "base.html" %}
{% block content %}
    <h2>
        Finish migrate mntner {{ auth_mntner.rpsl_mntner_pk }}
        in {{ auth_mntner.rpsl_mntner_source }}
    </h2>
    <div class="row">
        <div class="col-lg-9">
            {{ form_html }}
        </div>
        <div class="col-lg-3 alert alert-info">
            Finish the migration of your mntner by re-entering a current
            password on the mntner and confirming the migration.
            After this, you can authorise other users on the mntner.
            Existing authentication methods will be kept,
            but are discouraged.
        </div>
    </div>
{% endblock %}
