{% extends "base.html" %}
{% block content %}
    <h2>Reset password</h2>
    <div class="row">
        <div class="col-lg-9">
            {{ form_html }}
        </div>
        <div class="col-lg-3 alert alert-info">
            If you have lost your password, you can request a reset link
            here. Note that if you have lost access to all your two-factor
            methods (one time password, security token), you can not
            reset those through this process: you have to contact
            the operator of this IRRD instance.
        </div>
    </div>
{% endblock %}
