{% extends "base.html" %}
{% block content %}
    <h2>Maintainer permissions</h2>

    {% if user.override %}
        <p>
            You have override access and can update any authoritative object.
        </p>
    {% endif %}

    {% for permission in user.permissions %}
        <h3 class="mt-4">mntner {{ permission.mntner.rpsl_mntner_pk }}</h3>
        {% if permission.mntner.migration_complete %}
            {% if permission.user_management %}
                <p>
                    You have user management permissions on this mntner,
                    which means you can add or remove access for other users.
                    You can also update any objects maintained by this maintainer.
                </p>
            {% else %}
                <p>
                    You do not have user management permissions on this mntner,
                    which means you can only update objects maintained by this
                    maintainer, except this mntner object itself.
                </p>
            {% endif %}
            <h5>All users with access to {{ permission.mntner.rpsl_mntner_pk }}</h5>
            <table class="table mb-4">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">User management</th>
                    {% if permission.user_management %}
                        <th></th>
                    {% endif %}

                </tr>
                </thead>
                <tbody>
                {% for mntner_perm in permission.mntner.permissions %}
                    <tr>
                        <td>{{ mntner_perm.user.name }}</td>
                        <td>{{ mntner_perm.user.email }}</td>
                        <td>{{ "Yes" if mntner_perm.user_management else "No" }}</td>
                        {% if permission.user_management %}
                            <td>
                                <a href="{{ url_for("ui:permission_delete", permission=mntner_perm.pk) }}">Remove
                                    access</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h5>API tokens for {{ permission.mntner.rpsl_mntner_pk }}</h5>
            <table class="table mb-4">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Creator</th>
                    <th scope="col">IP restriction</th>
                    <th scope="col">HTTPS API access</th>
                    <th scope="col">Email access</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for api_token in permission.mntner.api_tokens %}
                    <tr>
                        <td>{{ api_token.name }}</td>
                        <td>{{ api_token.creator.name }} &lt;{{ api_token.creator.email }}&gt;</td>
                        <td>{{ api_token.ip_restriction.__str__().replace(",", ", ") }}</td>
                        <td>{{ "Yes" if api_token.enabled_webapi else "No" }}</td>
                        <td>{{ "Yes" if api_token.enabled_email else "No" }}</td>
                        <td>
                            <a href="{{ url_for("ui:api_token_edit", token_pk=api_token.pk) }}">Edit
                                token</a>
                        </td>
                        <td>
                            <a href="{{ url_for("ui:api_token_delete", token_pk=api_token.pk) }}">Remove
                                token</a>
                        </td>
                        <td>
                            <a data-bs-toggle="collapse" href="#token-{{ api_token.pk }}" role="button"
                               aria-expanded="false" aria-controls="token-{{ api_token.pk }}">
                                Show secret
                            </a>
                        </td>
                    </tr>
                    <tr class="collapse" id="token-{{ api_token.pk }}">
                        <td colspan="8" class="text-end">Secret: <code>{{ api_token.token }}</code></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8"><em>No API tokens configured.</em></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if permission.user_management %}
                <a href="{{ url_for("ui:permission_add", mntner=permission.mntner_id) }}" class="btn btn-primary">
                    Add access for another user
                </a>
            {% endif %}
            <a href="{{ url_for("ui:api_token_add", mntner=permission.mntner_id) }}" class="btn btn-primary">
                Add a new API token
            </a>
            <a href="{{ url_for("ui:change_log_mntner", mntner=permission.mntner_id) }}" class="btn btn-primary">
                Change log for this mntner
            </a>
        {% else %}
            The migration for this mntner is not yet complete.
        {% endif %}
    {% else %}
        You do not have access to any maintainers.
        You can <a href="{{ url_for("ui:mntner_migrate_initiate") }}">migrate a maintainer</a>,
        or ask an authorised user to add you to a maintainer.
    {% endfor %}
{% endblock %}
